on:
  release:
    types:
      - published
  
jobs:
  build:
    runs-on: windows-latest
    strategy:
      fail-fast: false
      matrix:
        target_type:
          - server
          - client
        mode:
          - debug
          - release
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - uses: xmake-io/github-action-setup-xmake@v1
        # with:
        #   xmake-version: branch@master

      - uses: actions/cache@v5
        with:
          path: |
            ~/AppData/Local/.xmake
          key: xmake-${{ hashFiles('xmake.lua') }}
          restore-keys: |
            xmake-

      - run: |
          xmake repo -u

      - run: |
          xmake f -a x64 -m ${{ matrix.mode }} -p windows -v -y --target_type=${{ matrix.target_type }}

      - run: |
          xmake -v -y

      - uses: actions/upload-artifact@v6
        with:
          name: ${{ github.event.repository.name }}-${{ github.sha }}-${{ matrix.target_type }}-${{ matrix.mode }}-windows-x64
          path: |
            bin/

  update-release-notes:
    permissions:
      contents: write
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - id: extract-release-notes
        uses: ffurrer2/extract-release-notes@v3

      - uses: softprops/action-gh-release@v2
        with:
          tag_name: ${{ github.event.release.tag_name }}
          body: |
            ${{ steps.extract-release-notes.outputs.release_notes }}

            | File | SHA256 |
            | ---- | ------ |

  upload-to-release:
    needs:
      - build
      - update-release-notes
    permissions:
      contents: write
    strategy:
      matrix:
        target_type:
          - server
          - client
        mode:
          - debug
          - release
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - uses: actions/download-artifact@v7
        with:
          name: ${{ github.event.repository.name }}-${{ github.sha }}-${{ matrix.target_type }}-${{ matrix.mode }}-windows-x64
          path: artifact

      - run: |
          cp CHANGELOG.md LICENSE README.md artifact/

      - run: |
          zip -r ../${{ github.event.repository.name }}-${{ github.event.release.tag_name }}-${{ matrix.target_type }}-${{ matrix.mode }}-windows-x64.zip *
        working-directory: artifact

      - name: Calculate SHA256
        id: calculate-sha256
        run: |
          echo release=$(sha256sum ${{ github.event.repository.name }}-${{ github.event.release.tag_name }}-${{ matrix.target_type }}-${{ matrix.mode }}-windows-x64.zip | awk '{print $1}') >> $GITHUB_OUTPUT

      - name: Prepare SHA row
        run: |
          echo "| ${{ github.event.repository.name }}-${{ github.event.release.tag_name }}-${{ matrix.target_type }}-${{ matrix.mode }}-windows-x64.zip | ${{ steps.calculate-sha256.outputs.release }} |" > sha-row.txt

      - uses: actions/upload-artifact@v6
        with:
          name: sha-row-${{ matrix.target_type }}-${{ matrix.mode }}
          path: sha-row.txt
      
      - uses: softprops/action-gh-release@v2
        with:
          tag_name: ${{ github.event.release.tag_name }}
          files: |
            ${{ github.event.repository.name }}-${{ github.event.release.tag_name }}-${{ matrix.target_type }}-${{ matrix.mode }}-windows-x64.zip
    
  finalize-release-body:
    needs: upload-to-release
    permissions:
      contents: write
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - uses: actions/download-artifact@v7
        with:
          pattern: sha-row-*
          path: rows

      - id: collect-sha-rows
        run: |
          find rows -name "sha-row.txt" -exec cat {} \; > table_rows.txt

          {
            echo "rows<<EOF"
            cat table_rows.txt
            echo "EOF"
          } >> "$GITHUB_OUTPUT"

      - uses: softprops/action-gh-release@v2
        with:
          append_body: true
          tag_name: ${{ github.event.release.tag_name }}
          body: ${{ steps.collect-sha-rows.outputs.rows }}
